# System related
.DS_Store
.build
.tmp
*~
*.log

# Composer related
composer.lock
composer.phar
/vendor/*

# Keep for now (psr/cache is still a draft)
!/vendor/psr/cache/

# Development related
/review/
phpunit.xml
TODO
