language: php

# sudo: false
sudo: required

services:
  - redis-server
  - memcached
  - mongodb

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm
  # fails with the message "HHVM nightly is no longer supported on Ubuntu Precise"
  #- hhvm-nightly

env:
  - DB=apc
  - DB=redis
  - DB=mongodb
  - DB=sqlite
  - DB=mysql
  - DB=pgsql
  - DB=memcached

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install -o --no-interaction --prefer-source
  - mkdir -p build/logs
  - tests/bin/travis-init.sh
  - travis_retry wget https://scrutinizer-ci.com/ocular.phar

before_script:
  # xdebug does not work with PHP 7.
 - if [[ $TRAVIS_PHP_VERSION =~ ^7 ]]; then phpenv config-rm xdebug.ini; fi

script:
  - if [[ $TRAVIS_PHP_VERSION =~ ^7 ]]; then
      phpdbg -qrr vendor/phpunit/phpunit/phpunit --verbose --colors --coverage-clover=build/logs/clover.xml --coverage-text;
    else
      vendor/bin/phpunit --verbose --colors --coverage-clover build/logs/clover.xml --coverage-text;
    fi

after_script:
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml; fi
  - php vendor/bin/coveralls -v

notifications:
  irc: "irc.freenode.org#ouarz"
  email:
    recipients:
      - dev-team@ouarz.net
    on_success: change
    on_failure: change

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: DB=mariadb
      addons:
        mariadb: 5.5
    - php: 7.0
      env: DB=mariadb
      addons:
        mariadb: 10.1
  allow_failures:
    - php: nightly
    - php: 5.3
      env: DB=memcached # memcached client is broken on PHP 5.3.
    - php: 7.0
      env: DB=memcached # memcached client does not fully support PHP7.
    - php: hhvm
      env: DB=mongodb   # mongodb client does not compile under hhvm.

cache:
 directories:
   - $HOME/.composer/cache
